.red {
  color: red;
}
.center-text {
  text: center;
}
header {
  padding: 30px;
  height: 70%;
  background-image: url('https://images.unsplash.com/photo-1502635994848-2eb3b4a38201?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ffc263030a30c48dc22686ca2d050b80&auto=format&fit=crop&w=500&q=60');
  background-size: cover;
  background-attachment: fixed;
}
